@{
    ViewBag.Title = "SearchPage";
}

<h2>SearchPage</h2>

<form action="@Url.Action("SearchResultPage","Default")" method="post">
    <input type="text" placeholder="name" name="search" />

</form>