@{
    ViewBag.Title = "SearchResultPage";
}

<h2>SearchResultPage</h2>

<div class="alert alert-success" role="alert">Result 1</div>
<div class="alert alert-success" role="alert">Result 2</div>
<div class="alert alert-success" role="alert">Result 3</div>
<div class="alert alert-success" role="alert">Result 4</div>
<div class="alert alert-success" role="alert">Result 5</div>
<div class="alert alert-success" role="alert">Result 6</div>