@using Broadway.Web.ViewModels

@{
    ViewBag.Title = "SomeNewPage";
    var data = ViewBag.data as SomeViewModel;
}

<h2>SomeNewPage</h2>

@if (data != null)
{
    <div class="row">
        <div class="col-lg-3">Id</div>
        <div class="col-lg-9">@data.Id</div>
    </div>
    <div class="row">
        <div class="col-lg-3">Name</div>
        <div class="col-lg-9">@data.Name</div>
    </div>
    <div class="row">
        <div class="col-lg-3">Address</div>
        <div class="col-lg-9">@data.Address</div>
    </div>
}
else
{
    <div class="row">
        <span class="alert alert-danger">No Record Found!!!</span>
    </div>
}