@model List<string>

@foreach (var item in Model)
{

    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Categories","Home", new { name=item})" class="nav-link">@item</a>
    </li>
}